
<!--
누르면 소리 나오도록 조작하기.
시작 화면.
완료.
이전 단계 : main.html
-->
<div id="inner_manage" class="h-100 d-flex flex-column" >
  <div >
    <div class="pt-3 pb-1 bg-warning text-center">
      <h5 class="text-white">장애인 활동 지원
      </h5>
    </div>

    <!--information-->
    <div class="px-3 py-2">
      <div class="table-responsive">
        <table class="table">
          <thead>
          </thead>
          <tbody>
            <tr>
              <th scope="row">기관명</th>
              <td>장애인자립센터</td>
              
            </tr>
            <tr>
              <th scope="row">활동지원사</th>
              <td>소지안</td>
              
            </tr>
            <tr>
              <th scope="row">서비스</th>
              <td>활동보조서비스</td>
            </tr>
            <tr>
              <th scope="row">잔액</th>
              <td>6백 만원(300시간)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--/information-->
    
    <div class="px-3 py-2">
      <ul class="nav nav-tabs flex-column" role="tablist">
        {% if essential_data['service_status'] != '서비스 진행중' %}
        <li class="nav-item">
            <a class="btn btn-info shadow-info w-100" 
            href="#" onclick="get_inner_page('start_step1')" data-bs-toggle="tab" role="tab">
                서비스 시작
            </a>
        </li> 
        {% endif %}
        {% if essential_data['service_status'] != '서비스 없음' %}
        <li class="nav-item">
            <a class="btn btn-info shadow-info w-100" 
            href="#" onclick="get_inner_page('end_step1')" data-bs-toggle="tab" role="tab">
                서비스 종료
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="btn btn-info shadow-info w-100" 
            href="#" onclick="get_inner_page('data')" data-bs-toggle="tab" role="tab">
                서비스 정보
            </a>
          </li>
        
        
      </ul>
    </div>
  </div>

  <!-- 음성 인식 이미지 -->
  <div class="p-3 text-center" id="speech_guide">
    <div class="spinner-grow text-info" role="status"></div>
    <div class="fs-sm">말씀해 주세요</div>
  </div>
  <!-- /음성 인식 이미지 -->

  <div class="mt-auto">

    <div class="p-3 ">
      <div class="d-flex justify-content-evenly">
        <button type="button" id="click_button" class="btn btn-lg btn-secondary" 
        onclick="get_prev_page(prev='first_gate', curr='manage')">이전 단계</button>
      </div>
    </div>
  </div>

  </div>