<div class="ps-md-3 ps-lg-0 mt-md-2 pt-md-4 pb-md-2">
    <div class="d-sm-flex align-items-center justify-content-between pt-xl-1 mb-3 pb-3">
      <h1 class="h3 mb-sm-0">Bible Verses</h1>
      
    </div>
     <!-- Team -->
     <section class="container mb-5 py-lg-3 py-xl-4 py-xxl-5">
      <div class="d-md-flex align-items-center justify-content-between text-md-start text-center pt-1 pt-sm-3 pt-md-4 mb-5">
        <h2 class="h3 mb-md-0">Calender</h2>
        
      </div>
  
      <!-- grid -->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 pb-lg-2 pb-xl-3">
        자바스크립트로 현재 달 구하기. 현재 달에 맞는 달력 표 만들기.
  
       
      </div>
    </section>
  
  
  </div>