
<!--
https://jianso.gabia.io/ 용 웹페이지 
-->
<div class="masonry-grid row g-4">
  <div class="col-lg-8 m-auto">
    

    <div class="m-3 mt-5">
      <h3>서비스 시작</h3>
      <video class="w-100" controls>
        <source src="static/david/movie/service_start.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="m-3 mt-5">
      <h3>서비스 종료</h3>
      <video class="w-100" controls>
        <source src="static/david/movie/service_stop.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="m-3 mt-5">
      <h3>서비스 관리</h3>
    <video class="w-100" controls>
      <source src="static/david/movie/service_manage.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <p class="fs-6">
      (1)서비스 관리<br/>
      (2)서비스 시작 <br/>
    </p>
    </div>

    
    
    
    
   
  </div>
</div> 

<script src="{{ url_for('static', filename='/david/js/paper/main.js') }}"></script>
